.vfrc-launcher {
    transform: scale(2.5) !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important
}

.vfrc-header {
    background-color: #030f40 !important
}

button.vfrc-launcher svg {
    display: none !important
}

button.vfrc-launcher:before {
    content: "\2716";
    display: block;
    font-size: 15px;
    color: #030f40 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.vfrc-prompt button:first-of-type {
    color: transparent;
    background-color: #030f40 !important;
    position: relative
}

.vfrc-prompt button:first-of-type:after {
    content: "Démarrer une nouvelle conversation";
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    white-space: nowrap
}

.vfrc-prompt button:last-of-type {
    color: transparent;
    position: relative
}

.vfrc-prompt button:last-of-type:after {
    content: "Annuler";
    color: #030f40;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    white-space: nowrap
}

.vfrc-assistant-info--title {
    visibility: hidden !important;
    position: relative;
    overflow: visible !important;
    min-width: 300px !important
}

.vfrc-assistant-info--title:after {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    content: "Posez-nous votre question !";
    font-weight: 700;
    color: #030f40 !important;
    white-space: nowrap;
    width: max-content;
    min-width: 300px
}

.vfrc-assistant-info--description {
    visibility: hidden;
    position: relative;
    overflow: visible !important
}
